<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AdminStats</title>
</head>
<body>
<h1>Statystyki</h1>
<h4 th:text="'Ilość przeliczeń walut: ' + ${count}+ '.'"/>
<h4 th:text="'Ilość EUR: ' + ${countCur}+ '.'"/>
<h4 th:text="'Ilość EUR powyżej 1000: ' + ${countCur1000}+ '.'"/>
<div th:replace="fragments/layout :: menu"></div>
</body>
</html>