<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
<div th:replace="fragments/layout :: menu"></div>
<h1>Kalkulator wymiany walut.</h1>
<br>
<form method="post" action="/calculator">
    <p>Początkowa waluta</p>
    <select name="startCurency" >
        <option th:each="rate : ${rates}" th:value="${rate.getName()}" th:text="${rate.getName()}"></option>
    </select>

    <p>Waluta docelowa</p>
    <select name="endCurency" >
        <option th:each="rate : ${rates}" th:value="${rate.getName()}" th:text="${rate.getName()}"></option>
    </select>

    <p>Podaj kwote</p>
    <input name="amount" type="number">
    <input type="submit" value="Oblicz">

</form>




</body>
</html>