<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
<h1>Contact</h1>
<p>telefon: 77777777</p>
<p>mail: kantorbolek@gmail.com</p>

        <h4 th:text="'Teraz jest ' + ${time} + ' , wiec sklep jest: '  + ${state} + '.'"/>
<div th:replace="fragments/layout :: menu"></div>


</body>
</html>