<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rates</title>
</head>
<body>
<h1>Rates</h1>

<table>

    <tr th:each="rate : ${rates}">

        <td th:text="${rate.getName()}"></td>
        <td th:text="${rate.getRate()}"></td>
        <td th:text="${rate.getBuyRate()}"></td>
        <td th:text="${rate.getSellRate()}"></td>
    </tr>




</table>
<div th:replace="fragments/layout :: menu"></div>

</body>
</html>